.btn {
  padding: 20px 44px;
  border-radius: 26px;
  background-color: #f1cdb3;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.02px;
}
.btn-white {
  background-color: #fafafa;
  color: #292929;
  border-radius: 26px;
  border: 2px solid #f1cdb3;
}
.btn-big {
  margin: 68px auto;
}

.slider-item {
  width: 270px !important;
  height: 424px !important;
  margin: 0 25px;
  background-color: #fafafa;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  min-width: 0;
}
// .slider-item img {
//   // width: 100%;
// }
