@import "vars";
@import "libs";
@import "fonts";
@import "slick";

header {
  background: url("../img/main-bg.png") center no-repeat;
  background-size: cover;
}
.header-title h1 {
  color: #f1cdb3;
  font-family: "Georgia", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.13px;
  margin-bottom: 8px;
}
.header-title span {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.3px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.3em 0;
}
.header-menu a {
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}
.header-menu a:hover,
:active,
:focus {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 2px solid #f1cdb3;
  border-radius: 2px;
}
.header-block {
  padding-top: 251px;
  padding-bottom: 269px;
}
.header-block h2 {
  color: #ffffff;
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 2.64px;
}
.header-block p {
  margin: 45px 0;
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 400;
}
.about {
  margin: 89px 0;
}
.about h2 {
  color: #545454;
  font-family: Georgia;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2.1px;
  margin: 35px 0;
}
.about p {
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 400;
}
.friends {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column;
  min-width: 0;
}
.friends h2 {
  text-align: center;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 0;
  position: relative;
  padding: 0 50px;
  cursor: pointer;
  width: 65%;
  margin: 0 auto;
}
.help h2 {
  text-align: center;
  margin-top: 72px;
}
.help-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 80px 130px;
}
.help-item img {
  max-width: 50px;
  margin: auto;
}

@import "media";
